.card {
	 background: linear-gradient(to bottom, #17035e, #f77f00);
    justify-content: center;
    height: 100vh;
    padding: 100px;
}

.card-info {
     font-size: 1.5rem;
     background: linear-gradient(to bottom,#905516, #3c0de5);
     border-radius: 11px;
      margin: 20px;
      padding: 20px;
      color: rgb(226, 226, 9);
	 
	  height: 22rem;
	
}
h1{
padding: 10px;
}
h5{
	padding: 20px;
}
