button, .button {
	display: flex;
	justify-content: center;
	align-items: center;
		border-radius: 40px;
		width: 153px;
		height: 43px;
		color: white;
		border: 1px solid rgb(249, 248, 248);
		background-color: transparent;
		font-family: LatoBold;
		font-size: 12px; ;

	&:hover{
		background-color: #2B0E55 ;
	}
	p{
		color: white;
	}
	
}

.buttonmenu{
	width: 43px;
	height: 43px;
	border: 1px solid rgb(249, 248, 248);
	background-color: white;
	.barremenu{
		height: 2px;
		width: 23px;
		background-color: #2B0E55;
	}
}
