button {
		border-radius: 40px;
		width: 153px;
		height: 43;
		color: white;
		border: solid rgb(249, 248, 248) ;
		background-color: transparent;
		font-family: LatoBold;

	&:hover{
		background-color: #2B0E55 ;
	}
	}