footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8C01E3;
    height: 100vh;
    width: 100%;
    gap: 30px;

    .titre_footer{
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: center;
        gap: 40px;
        h1, h2{
            color: white;
            
            
        }
        h1{font-size: 80px;
            font-family: "LatoBoldItallic";
        }
        h2{
            font-size: 25px;
            font-family: "Bebas Neue";
        }
}

.footerbox {
    height: 70px;
    width: 100%;
   
    .trait {
    height: 1px;
    width: 100%;
    background-color: white;
   

}
nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    padding-left: 25px;
    justify-content: flex-start;
    height: 69px;
    
    li{
        color: white;
        font-family: "Bebas Neue";
        font-size: 20px;
    }
}
}


.sponsor {
    padding-top: 20px;
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    z-index: 10;

    .sponsor_move{
        display: flex;
        height: 100%;
        gap: 100px;
        width: max-content;
        animation: scroll 40s linear infinite;
        will-change: transform;
        img{
            height: 30px;
            width: auto;
            flex-shrink: 0;
            
        }
    }
    
    
}

}  

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


