header{
    display: flex;
    height: 10vh;
    width: 100vw;
    position: fixed;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 3rem;
    z-index: 1;

    .left {
        display: flex;
        column-gap: 2rem;
        align-items: center;
        
    }
}