@font-face {
	font-family: BebasNeue;
	src: url(/src/assets/font/BebasNeue-Regular.ttf);
}

.menu {
	display: none;
}

.icons {
    display: flex;
}

.navbar-mobile-visible {
	display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: left;
	position: absolute;
    top: 2.5vh;
    left: 2.5vw;
	width: 95vw;
    height: 95vh;
    background-color: #8C01E3;
    border-radius: 30px;
    padding: 40px;

    .list{
        font-family: BebasNeue;
        color: white;
        font-size: 44px;
    }
}

.contenant_bouton {
    z-index: 1;
	/* width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: none; */
}
